[alias]
	amend = commit --amend
	fixup = commit --fixup
	forcepush = push --force-with-lease
	patch = !git add --intent-to-add $(git rev-parse --show-toplevel) && git add --patch

[core]
	attributesFile = ~/.gitattributes
	editor = nano -r 72
	excludesFile = ~/.gitignore
	hooksPath = ~/.config/git/hooks

[commit]
	verbose = true

[diff]
	algorithm = patience
	indentHeuristic = true
	mnemonicPrefix = true
	renames = copies

[diff "rspec"]
	xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"

[fetch]
	prune = true
	pruneTags = true
	writeCommitGraph = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[init]
	defaultBranch = main

[interactive]
	singleKey = true

[log]
	abbrevCommit = true

[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P

[pull]
	rebase = merges

[push]
	default = current

[rebase]
	abbreviateCommands = true
	autoSquash = true
	autoStash = true
	missingCommitsCheck = warn
	stat = true

[remote]
	pushDefault = origin

[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[status]
	branch = true
	relativePaths = false
	short = true

[stash]
	showPatch = true

[transfer]
	fsckObjects = true

[user]
	useConfigOnly = true

[include]
	path = ~/.gitconfig.local
