[alias]
	forcepush = push --force-with-lease
	pair = !git-pair
	solo = !git-solo

[core]
	editor = nano -r 72
	excludesfile = ~/.gitignore
	hooksPath = ~/.githooks

[rebase]
	autosquash = true

[transfer]
	fsckobjects = true

[user]
	email = f@erbridge.co.uk
	name = erbridge

[include]
	path = ~/.gitconfig.local
