*.cs        diff=csharp
*.css       diff=css
*.scss      diff=css
*.go        diff=golang
*.html      diff=html
*.html.erb  diff=html
*.md        diff=markdown
*.php       diff=php
*.py        diff=python
*.rb        diff=ruby
*_spec.rb   diff=rspec
*.rs        diff=rust
