[core]
	editor = nano -r 72
	excludesfile = ~/.gitignore

[rebase]
	autosquash = true

[transfer]
	fsckobjects = true

[user]
	email = f@erbridge.co.uk
	name = erbridge

[include]
	path = ~/.gitconfig.local
